html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.body {
  font-family: $main-font;
  background: $third-text-color;
}

.container {
  width: 1200px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}
