$logo-font: "Raleway", sans-serif;
$first-text-color: #212121;
$main-font: "Roboto", sans-serif;
$second-text-color: #757575;
$third-text-color: #ffffff;
$background-first-color: #f5f4fa;
$accent-color: #2196f3;
$main-font-size: 14px;
$second-font-size: 16px;
$third-font-size: 18px;
$padding-bottom-container: 94px;
$margin-right-list: 30px;
$margin-bottom-header: 50px;
$icon-main-color: #afb1b8;
